.h1 {
  color: #c3bef0;
}

.h2 {
  color: blue;
}
.col {
  color: blue;
  position: absolute;
  left: -450px;
}

.three {
  position: relative;
  top: 40px;
  left: 30px;
  font-size: 20px;
}
.four {
  position: relative;
  top: 40px;
  left: 85px;
  font-size: 20px;
}

.five {
  position: relative;
  top: 40px;
  left: 140px;
  font-size: 20px;
}
.six {
  position: relative;
  top: 40px;
  left: 200px;
  font-size: 20px;
}
.seven {
  position: relative;
  top: 40px;
  left: 260px;
  font-size: 20px;
}
.eight {
  position: relative;
  top: 40px;
  left: 325px;
  font-size: 20px;
}

.sunset {
  position: fixed;
  left: 100px;
  top: 490px;
  font-family: "Satisfy", cursive;
}
.week {
  position: relative;
  font-size: 30px;
  left: 190px;
  bottom: 550px;
  color: #35bcbf;
  font-family: "Satisfy", cursive;
}
.search-form {
  margin-bottom: 20px;
  left: 200px;
}

.row-cols-auto {
  position: relative;
  left: -550px;
}
.link {
  position: relative;
  font-size: 50px;
  left: 100px;
  top: 200px;
  font-family: "Satisfy", cursive;
  color: #c3bef0;
}
.normal-text {
  color: #c3bef0;
  text-decoration: none;
}
